
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/MarbleBlock/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Marble Block</span>
                </a>
            </li>       
            <li>
                <a href="/Plate/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Plate</span>
                </a>
            </li>
            <li>
                <a href="/CurrentCard/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Current/span>
                </a>
            </li>
            
        </ul>
    </div>
</div>
